<div class="assets-page">
  <div class="nav">
    <div class="brand">
      <div class="logo">匯</div>
      <span class="title">資訊資產管理系統</span>
    </div>

    <ul class="menu">
      <li class="item"><a href="#" class="link">🏠</a></li>
      <li class="item"><a href="#" class="link"><span>數位儀錶板</span></a></li>
      <li class="item active"><a href="#" class="link">資產清冊</a></li>
      <li class="item"><a href="#" class="link">軟硬體管理</a></li>
      <li class="item"><a href="#" class="link">線上服務</a></li>
      <li class="item"><a href="#" class="link">統計管理</a></li>
      <li class="item"><a href="#" class="link">系統管理</a></li>
      <li class="item menu-icon">
        <a href="#" class="link"><span class="icon">☰</span></a>
      </li>
    </ul>

    <div class="actions">
      <button class="login-btn">登入</button>
    </div>
  </div>

  <div class="content">
    <div class="page-header">
      <div class="icon">✎</div>
      <h1>資訊資產清冊暨風險評鑑</h1>
    </div>

    <div class="tabs">
      <button class="tab" [class.active]="activeTab === 'assessment'" (click)="activeTab = 'assessment'">
        資產盤點與評鑑
      </button>

      <button class="tab" [class.active]="activeTab === 'manage'" (click)="activeTab = 'manage'">
        資產項目維護
      </button>

      <button class="tab" [class.active]="activeTab === 'recent'" (click)="activeTab = 'recent'">
        近期資產清冊
      </button>
    </div>

    @if (activeTab === 'assessment') {
    <div class="tab-panel">
      <div class="toolbar">
        <div class="toolbar-left">
          <label for="year">資料填報年度：</label>

          <select id="year" class="year-select">
            <option>2026</option>
            <option>2025</option>
            <option>2024</option>
            <option>2023</option>
          </select>


          <button class="gray-btn">風險評鑑說明</button>
          <button class="gray-btn">去年資料匯入</button>
          <button class="red-btn">關檔</button>
        </div>


        <div class="toolbar-search">
          <input class="search-input" type="text" [(ngModel)]="keyword" name="keyword"
            placeholder="請輸入資產代碼 / 類別 / 資產項目 / 風險擁有者" (keyup.enter)="searchAssets()">

          <button class="gray-btn" type="button" (click)="searchAssets()">查詢</button>
          <button class="gray-btn" type="button" (click)="resetSearch()">清除</button>
        </div>

      </div>

      <div class="table-wrap">
        <table class="asset-table">
          <thead>
            <tr>
              <th colspan="100">
                <div class="toolbar-right">
                  <button class="add-btn" (click)="openCreateModal()">＋ 新增紀錄</button>
                </div>
              </th>
            </tr>
            <tr>
              <th (click)="sortAssets('asset_code')">
                <span>
                  {{
                  sortColumn !== 'asset_code'
                  ? '⇅'
                  : (sortDirection === 'asc' ? '▲' : '▼')
                  }}
                </span>
                資產代碼
              </th>
              <th>類別</th>
              <th>資產項目</th>
              <th (click)="sortAssets('confidentiality')">
                <span>
                  {{
                  sortColumn !== 'confidentiality'
                  ? '⇅'
                  : (sortDirection === 'asc' ? '▲' : '▼')
                  }}
                </span>

                資產價值(C)
              </th>
              <th (click)="sortAssets('integrity')">
                <span>
                  {{
                  sortColumn !== 'integrity'
                  ? '⇅'
                  : (sortDirection === 'asc' ? '▲' : '▼')
                  }}
                </span>
                資產價值(I)
              </th>
              <th (click)="sortAssets('availability')">
                <span>
                  {{
                  sortColumn !== 'availability'
                  ? '⇅'
                  : (sortDirection === 'asc' ? '▲' : '▼')
                  }}
                </span>
                資產價值(A)
              </th>
              <th (click)="sortAssets('asset_value')">
                <span>
                  {{
                  sortColumn !== 'asset_value'
                  ? '⇅'
                  : (sortDirection === 'asc' ? '▲' : '▼')
                  }}
                </span>
                資產價值
              </th>
              <th (click)="sortAssets('asset_level')">
                <span>
                  {{
                  sortColumn !== 'asset_level'
                  ? '⇅'
                  : (sortDirection === 'asc' ? '▲' : '▼')
                  }}
                </span>
                資產等級
              </th>
              <th>風險擁有者</th>
              <th>編輯/刪除</th>
            </tr>
          </thead>

          <tbody>
            @if (loading) {
            <tr>
              <td colspan="10">資料載入中...</td>
            </tr>
            } @else if (errorMessage) {
            <tr>
              <td colspan="10">{{ errorMessage }}</td>
            </tr>
            } @else if (assets.length == 0) {
            <tr>
              <td colspan="10">目前沒有資料</td>
            </tr>
            } @else {
            @for (asset of assets; track asset.id) {
            <tr>
              <td>{{ asset.asset_code }}</td>
              <td>{{ asset.category }}</td>
              <td>{{ asset.asset_name }}</td>
              <td>{{ asset.confidentiality }}</td>
              <td>{{ asset.integrity }}</td>
              <td>{{ asset.availability }}</td>
              <td>{{ asset.asset_value }}</td>
              <td>{{ asset.asset_level }}</td>
              <td>{{ asset.owner }}</td>
              <td>
                <button class="icon-btn" (click)="openEditModal(asset)">✏</button>
                <button class="icon-btn" (click)="DeleteAsset(asset.id)">🗑</button>
              </td>
            </tr>
            }
            }
          </tbody>
        </table>
      </div>
    </div>
    }

    @if (activeTab === 'manage') {
    <div class="tab-panel">
      <p>資產項目維護</p>
    </div>
    }

    @if (activeTab === 'recent') {
    <div class="tab-panel">
      <p>近期資產清冊</p>
    </div>
    }
  </div>
</div>